<footer>
    <div class="container">
        <div class="footer">
            <div class="footer__columns">
                <div
                    class="footer__column footer-column footer-column__links"
                >
                    <div class="footer-column__link">
                        <a href="">Реквизиты</a>
                    </div>
                    <div class="footer-column__link">
                        <a href="">Контакты</a>
                    </div>
                    <div class="footer-column__link">
                        <a href="">Публичная оферта</a>
                    </div>
                    <div class="footer-column__link">
                        <a href="">Помощь</a>
                    </div>
                </div>
                <div
                    class="footer__column footer-column footer-column__contacts"
                >
                    <div class="footer-column__contact">
                        <a href="">+7 (723) 270 48 08</a>
                    </div>
                    <div class="footer-column__contact">
                        <a href="">+7 (707) 470 48 08</a>
                    </div>
                    <div class="footer-column__contact">
                        <a href="">info@stsl.kz</a>
                    </div>
                </div>
                <div
                    class="footer__column footer-column footer-column__infos"
                >
                    <div class="footer-column__info">
                        Товарищество с ограниченной ответственностью
                        "1С-Рейтинг"
                    </div>
                    <div class="footer-column__info">
                        Юридический адрес: 070004, г. Усть-Каменогорск,
                        ул. Казахстан, д. 27
                    </div>
                    <div class="footer-column__info">
                        БИН: 020640002269
                    </div>
                </div>
            </div>
            <div class="footer__copyright">
                © Все права защищены. 1С-Рейтинг, 2022
            </div>
        </div>
    </div>
</footer>
