<header>
    <div class="container">
        <div class="header">
            <div class="header-menu">
                <div class="header-menu__icon">
                    <span></span>
                </div>
                <ul class="header-menu__list">
                    <li>
                        <a class=" header-menu__link" href="./index.html"
                            >Главная</a
                        >
                    </li>
                    <li>
                        <a class="header-menu__link" href="./catalog.html">
                            Каталог</a
                        >
                    </li>
                    <li>
                        <a class="header-menu__link" href="./my-services.html"
                            >Мои сервисы</a
                        >
                    </li>
                    <li>
                        <a class="header-menu__link" href="./balance.html">
                            Баланс</a
                        >
                    </li>
                    <li>
                        <a class="header-menu__link" href="./profiles.html">
                            Профили</a
                        >
                    </li>
                    <li>
                        <a class="header-menu__link" href="./soft.html">
                            Софт</a
                        >
                    </li>
                    <li>
                        <a class="header-menu__link" href="./faq.html">
                            Вопрос-ответ</a
                        >
                    </li>


                </ul>
            </div>
            <div class="header-user">
                <div class="header-user__menu user-menu">
                    <div class="user-menu__account">
                        <div
                            class="user-menu__avatar header-user__avatar"
                        ></div>
                        <div class="user-menu__profile">
                            <div class="user-menu__profile-name">
                                Костантин Р.
                            </div>
                            <div class="user-menu__profile-text">
                                Текущий профиль
                            </div>
                        </div>
                    </div>
                    <div class="user-menu__profile-actions">
                        <form
                            action=""
                            class="user-menu__change-profile change-profile"
                        >
                            <div class="change-profile__block" data-state="">
                                <div class="change-profile__title">
                                    Сменить профиль
                                </div>
                                <div class="change-profile__content">
                                    <!-- 0 option -->
                                    <input
                                        type="radio"
                                        name="singleSelect"
                                        id="singleSelect0"
                                        class="change-profile__input"
                                    />
                                    <label
                                        for="singleSelect0"
                                        class="change-profile__label"
                                    >
                                        Дядя Федя
                                    </label>
                                    <!-- end 0 option -->
                                    <!-- 1 option -->
                                    <input
                                        type="radio"
                                        name="singleSelect"
                                        id="singleSelect1"
                                        class="change-profile__input"
                                        checked
                                    />
                                    <label
                                        for="singleSelect1"
                                        class="change-profile__label"
                                    >
                                        Константин Романов
                                    </label>
                                    <!-- end 1 option -->
                                    <!-- 2 option -->
                                    <input
                                        type="radio"
                                        name="singleSelect"
                                        id="singleSelect2"
                                        class="change-profile__input"
                                    />
                                    <label
                                        for="singleSelect2"
                                        class="change-profile__label"
                                    >
                                        Иван Иванов
                                    </label>
                                    <!-- end 2 option -->
                                    <!-- 3 option -->
                                    <input
                                        type="radio"
                                        name="singleSelect"
                                        id="singleSelect3"
                                        class="change-profile__input"
                                    />
                                    <label
                                        for="singleSelect3"
                                        class="change-profile__label"
                                    >
                                        Тетя Дуся
                                    </label>
                                    <!-- end 3 option -->
                                </div>
                            </div>
                        </form>

                        <a href="" class="user-menu__add-profile">
                            <i
                                data-feather="user-plus"
                                class="icon-18 green-300"
                            ></i>
                            Добавить профиль
                        </a>
                        <a href="" class="user-menu__edit-profile">
                            <i
                                data-feather="settings"
                                class="icon-18 green-300"
                            ></i>
                            Редактировать профиль
                        </a>
                        <a href="" class="user-menu__exit-profile">
                            <i
                                data-feather="log-out"
                                class="icon-18 green-300"
                            ></i>
                            Выйти
                        </a>
                    </div>
                </div>
                <div class="header-user__profile">
                    <div class="header-user__profile-text _none-mobile">
                        Профиль:
                    </div>
                    <div class="header-user__profile-name">Константин Р.</div>
                </div>
                <div class="header-user__account">
                    <div class="header-user__avatar"></div>
                    <div class="header-user__arrow"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-balance-wrapper">
        <div class="container">
            <div class="header-balance">
                <div class="header-balance__balance">
                    <div class="header-balance__text">Баланс:</div>
                    <div class="header-balance__value">0.00т</div>
                </div>
                <div class="header-balance__button">
                    <span>Пополнить</span
                    ><span class="_none-mobile">/Получить счет</span>
                </div>
            </div>
        </div>
    </div>
</header>
