<header class="unauthorized">
    <div class="container">
        <div class="header">
            <div class="header-menu">
                <div class="header-menu__icon">
                    <span></span>
                </div>
                <ul class="header-menu__list">

                    <li>
                        <a class="header-menu__link" href="./catalog.html">
                            Каталог</a
                        >
                    </li>
                    <li>
                        <a class=" header-menu__link" href="./properties.html"
                            >Реквизиты</a
                        >
                    </li>
                    <li>
                        <a class="header-menu__link" href="./public.html"
                            >Публичная оферта</a
                        >
                    </li>
                    <li>
                        <a class="header-menu__link" href="./faq.html">
                            Вопрос-ответ</a
                        >
                    </li>
                    <li>
                        <a class="header-menu__link" href="./landing.html">
                            Лендинги</a
                        >
                    </li>



                </ul>
            </div>

            <a href="/auth-entry.html" class="header__comein-button">
                Войти
            </a>
        </div>
    </div>
</header>
