@charset "UTF-8";
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Roboto/Roboto-regular-normal-cyrillic-ext.woff2") format("woff2");
  font-display: swap;
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/Roboto/Roboto-regular-italic-cyrillic-ext.woff2") format("woff2");
  font-display: swap;
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Roboto/Roboto-bold-normal-cyrillic-ext.woff2") format("woff2");
  font-display: swap;
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/Roboto/Roboto-bold-italic-cyrillic-ext.woff2") format("woff2");
  font-display: swap;
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Roboto/Roboto-regular-normal-cyrillic.woff2") format("woff2");
  font-display: swap;
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/Roboto/Roboto-regular-italic-cyrillic.woff2") format("woff2");
  font-display: swap;
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Roboto/Roboto-bold-normal-cyrillic.woff2") format("woff2");
  font-display: swap;
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/Roboto/Roboto-bold-italic-cyrillic.woff2") format("woff2");
  font-display: swap;
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Roboto/Roboto-regular-normal-latin-ext.woff2") format("woff2");
  font-display: swap;
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/Roboto/Roboto-regular-italic-latin-ext.woff2") format("woff2");
  font-display: swap;
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Roboto/Roboto-bold-normal-latin-ext.woff2") format("woff2");
  font-display: swap;
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/Roboto/Roboto-bold-italic-latin-ext.woff2") format("woff2");
  font-display: swap;
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Roboto/Roboto-regular-normal-latin.woff2") format("woff2");
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/Roboto/Roboto-regular-italic-latin.woff2") format("woff2");
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Roboto/Roboto-bold-normal-latin.woff2") format("woff2");
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/Roboto/Roboto-bold-italic-latin.woff2") format("woff2");
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.text-black {
  color: #000 !important;
}

.text-black-text {
  color: #2a2f30 !important;
}

.text-red {
  color: #dc3747 !important;
}

.text-orange {
  color: #ff9d56 !important;
}

.text-yellow {
  color: #ffee9e !important;
}

.text-white {
  color: #fff !important;
}

.text-green-500 {
  color: #004f56 !important;
}

.text-green-400 {
  color: #095d64 !important;
}

.text-green-300 {
  color: #00898d !important;
}

.text-green-200 {
  color: #79d0d2 !important;
}

.text-green-100 {
  color: #d8f2ef !important;
}

.text-gray-400 {
  color: #626b6d !important;
}

.text-gray-300 {
  color: #c6c9cb !important;
}

.text-gray-200 {
  color: #f3f3f3 !important;
}

.text-gray-100 {
  color: #f8f8f8 !important;
}

.background-black {
  background-color: #000 !important;
}

.background-black-text {
  background-color: #2a2f30 !important;
}

.background-red {
  background-color: #dc3747 !important;
}

.background-orange {
  background-color: #ff9d56 !important;
}

.background-yellow {
  background-color: #ffee9e !important;
}

.background-white {
  background-color: #fff !important;
}

.background-green-500 {
  background-color: #004f56 !important;
}

.background-green-400 {
  background-color: #095d64 !important;
}

.background-green-300 {
  background-color: #00898d !important;
}

.background-green-200 {
  background-color: #79d0d2 !important;
}

.background-green-100 {
  background-color: #d8f2ef !important;
}

.background-gray-400 {
  background-color: #626b6d !important;
}

.background-gray-300 {
  background-color: #c6c9cb !important;
}

.background-gray-200 {
  background-color: #f3f3f3 !important;
}

.background-gray-100 {
  background-color: #f8f8f8 !important;
}

.font-weight-regular {
  font-weight: 400 !important;
}

.font-weight-bold {
  font-weight: 700 !important;
}

.font-style-normal {
  font-style: normal !important;
}

.font-style-italic {
  font-style: italic !important;
}

.font-size-1 {
  font-size: 2rem !important;
}

.font-size-2 {
  font-size: 1.75rem !important;
}

.font-size-3 {
  font-size: 1.5rem !important;
}

.font-size-4 {
  font-size: 1.25rem !important;
}

.font-size-5 {
  font-size: 1.125rem !important;
}

.font-size-6 {
  font-size: 1rem !important;
}

@media (min-width: 576px) {
  .font-size-sm-1 {
    font-size: 2rem !important;
  }

  .font-size-sm-2 {
    font-size: 1.75rem !important;
  }

  .font-size-sm-3 {
    font-size: 1.5rem !important;
  }

  .font-size-sm-4 {
    font-size: 1.25rem !important;
  }

  .font-size-sm-5 {
    font-size: 1.125rem !important;
  }

  .font-size-sm-6 {
    font-size: 1rem !important;
  }
}
@media (min-width: 768px) {
  .font-size-md-1 {
    font-size: 2rem !important;
  }

  .font-size-md-2 {
    font-size: 1.75rem !important;
  }

  .font-size-md-3 {
    font-size: 1.5rem !important;
  }

  .font-size-md-4 {
    font-size: 1.25rem !important;
  }

  .font-size-md-5 {
    font-size: 1.125rem !important;
  }

  .font-size-md-6 {
    font-size: 1rem !important;
  }
}
@media (min-width: 992px) {
  .font-size-lg-1 {
    font-size: 2rem !important;
  }

  .font-size-lg-2 {
    font-size: 1.75rem !important;
  }

  .font-size-lg-3 {
    font-size: 1.5rem !important;
  }

  .font-size-lg-4 {
    font-size: 1.25rem !important;
  }

  .font-size-lg-5 {
    font-size: 1.125rem !important;
  }

  .font-size-lg-6 {
    font-size: 1rem !important;
  }
}
@media (min-width: 1200px) {
  .font-size-xl-1 {
    font-size: 2rem !important;
  }

  .font-size-xl-2 {
    font-size: 1.75rem !important;
  }

  .font-size-xl-3 {
    font-size: 1.5rem !important;
  }

  .font-size-xl-4 {
    font-size: 1.25rem !important;
  }

  .font-size-xl-5 {
    font-size: 1.125rem !important;
  }

  .font-size-xl-6 {
    font-size: 1rem !important;
  }
}
@media (min-width: 1400px) {
  .font-size-xxl-1 {
    font-size: 2rem !important;
  }

  .font-size-xxl-2 {
    font-size: 1.75rem !important;
  }

  .font-size-xxl-3 {
    font-size: 1.5rem !important;
  }

  .font-size-xxl-4 {
    font-size: 1.25rem !important;
  }

  .font-size-xxl-5 {
    font-size: 1.125rem !important;
  }

  .font-size-xxl-6 {
    font-size: 1rem !important;
  }
}
.text-transform-uppercase {
  text-transform: uppercase !important;
}

.text-transform-lowercase {
  text-transform: lowercase !important;
}

.text-transform-capitalize {
  text-transform: capitalize !important;
}

.text-decoration-none {
  text-decoration: none !important;
}

.text-decoration-underline {
  text-decoration: underline !important;
}

.text-decoration-line-through {
  text-decoration: line-through !important;
}

.text-align-start {
  text-align: start !important;
}

.text-align-center {
  text-align: center !important;
}

.text-align-end {
  text-align: end !important;
}

@media (min-width: 576px) {
  .text-align-sm-start {
    text-align: start !important;
  }

  .text-align-sm-center {
    text-align: center !important;
  }

  .text-align-sm-end {
    text-align: end !important;
  }
}
@media (min-width: 768px) {
  .text-align-md-start {
    text-align: start !important;
  }

  .text-align-md-center {
    text-align: center !important;
  }

  .text-align-md-end {
    text-align: end !important;
  }
}
@media (min-width: 992px) {
  .text-align-lg-start {
    text-align: start !important;
  }

  .text-align-lg-center {
    text-align: center !important;
  }

  .text-align-lg-end {
    text-align: end !important;
  }
}
@media (min-width: 1200px) {
  .text-align-xl-start {
    text-align: start !important;
  }

  .text-align-xl-center {
    text-align: center !important;
  }

  .text-align-xl-end {
    text-align: end !important;
  }
}
@media (min-width: 1400px) {
  .text-align-xxl-start {
    text-align: start !important;
  }

  .text-align-xxl-center {
    text-align: center !important;
  }

  .text-align-xxl-end {
    text-align: end !important;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  margin: 0;
  font-family: Roboto, system-ui, -apple-system, "Segoe UI", "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #2a2f30;
  text-align: start;
  background-color: #fff;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
}

hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: 1px solid;
  opacity: 0.25;
}

.h6, h6, .h5, h5, .h4, h4, .h3, h3, .h2, h2, .h1, h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 700;
  line-height: 1.2;
  color: #004f56;
}

.h1, h1 {
  font-size: 2rem;
}

.h2, h2 {
  font-size: 1.75rem;
}

.h3, h3 {
  font-size: 1.5rem;
}

.h4, h4 {
  font-size: 1.25rem;
}

.h5, h5 {
  font-size: 1.125rem;
}

.h6, h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title] {
  text-decoration: underline dotted;
  cursor: help;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul {
  padding-left: 2rem;
}
ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: 0;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: 700;
}

.mark, mark {
  padding: 0.1875em;
  background-color: #d8f2ef;
}

sub,
sup {
  position: relative;
  font-size: 0.75em;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  text-decoration: underline;
}
a:hover {
  color: #006e71;
  text-decoration: underline;
}

a:not([href]):not([class]), a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  font-size: 0.875em;
}
pre code {
  font-size: inherit;
  color: inherit;
  word-break: normal;
}

code {
  font-size: 0.875em;
  color: #ff9d56;
  word-wrap: break-word;
}
a > code {
  color: inherit;
}

kbd {
  padding: 0.1875rem 0.375rem;
  font-size: 0.875em;
  color: #fff;
  background-color: #2a2f30;
}
kbd kbd {
  padding: 0;
  font-size: 1em;
  font-weight: inherit;
}

figure {
  margin: 0 0 1rem;
}

img,
svg {
  vertical-align: middle;
}

img {
  height: auto;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  caption-side: bottom;
}

caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #626b6d;
  text-align: left;
}

th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

label {
  display: inline-block;
}

button {
  border-radius: 0;
}

button:focus:not(:focus-visible) {
  outline: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
select {
  text-transform: none;
}

[role=button] {
  cursor: pointer;
}

select {
  word-wrap: normal;
}
select:disabled {
  opacity: 1;
}

[list]::-webkit-calendar-picker-indicator {
  display: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}
button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
  cursor: pointer;
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

textarea {
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  float: left;
  width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
}
legend + * {
  clear: left;
}

::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
  padding: 0;
}

::-webkit-inner-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::file-selector-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

iframe {
  border: 0;
}

summary {
  display: list-item;
  cursor: pointer;
}

progress {
  vertical-align: baseline;
}

[hidden] {
  display: none !important;
}

.small, small {
  font-size: 0.875em;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.blockquote {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}
.blockquote > :last-child {
  margin-bottom: 0;
}

.blockquote-footer {
  margin-top: -1rem;
  margin-bottom: 1rem;
  font-size: 0.875em;
  color: #626b6d;
}
.blockquote-footer::before {
  content: "— ";
}

.figure {
  display: inline-block;
}

.figure-img {
  margin-bottom: 0.5rem;
  line-height: 1;
}

.figure-caption {
  font-size: 0.875em;
  color: #626b6d;
}

.container {
  width: 100%;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 992px) {
  header .container {
    min-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  footer .container {
    min-width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #2a2f30;
  vertical-align: top;
  border-color: #c6c9cb;
}
.table > :not(caption) > * {
  border-width: 1px 0;
}
.table > :not(caption) > * > * {
  padding: 0.5rem 0.5rem;
  background-color: transparent;
  border-width: 0 1px;
}
.table > tbody {
  vertical-align: inherit;
}
.table > thead {
  vertical-align: bottom;
}

.table-sm > :not(caption) > * > * {
  padding: 0.25rem 0.25rem;
}

.table-borderless > :not(caption) > * > * {
  border-right-width: 0;
  border-left-width: 0;
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
  color: #2a2f30;
  background-color: #f8f8f8;
}

.table-striped-columns > :not(caption) > tr > :nth-child(even) {
  color: #2a2f30;
  background-color: #f8f8f8;
}

.table-hover > tbody > tr:hover > * {
  color: #2a2f30;
  background-color: #f3f3f3;
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.button {
  display: inline-block;
  min-width: 10.625rem;
  padding: 0.625rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  background-color: #00898d;
  border: 1px solid #00898d;
  border-radius: 0.875rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  user-select: none;
}
@media (prefers-reduced-motion: reduce) {
  .button {
    transition: none;
  }
}
.button:hover {
  color: #fff;
  text-decoration: none;
  background-color: #004f56;
  border-color: #004f56;
}
.button:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 137, 141, 0.25);
}
.button:active, .button.active {
  color: #fff;
  background-color: #00898d;
  border-color: #00898d;
}
.button:active:focus, .button.active:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 137, 141, 0.25);
}
.button:disabled, .button.disabled, fieldset:disabled .button {
  color: #fff;
  pointer-events: none;
  background-color: #c6c9cb;
  border-color: #c6c9cb;
  box-shadow: none;
}
.button-outline {
  color: #00898d;
  background-color: #fff;
  border-color: #00898d;
}
.button-outline:hover {
  color: #fff;
  background-color: #00898d;
  border-color: #00898d;
}
.button-outline:active, .button-outline.active {
  color: #fff;
  background-color: #004f56;
  border-color: #004f56;
}
.button-red {
  color: #fff;
  background-color: #dc3747;
  border-color: #dc3747;
}
.button-red:hover {
  color: #fff;
  background-color: #7e1620;
  border-color: #7e1620;
}
.button-red:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(220, 55, 71, 0.25);
}
.button-red:active, .button-red.active {
  color: #fff;
  background-color: #a91e2b;
  border-color: #a91e2b;
}
.button-red:active:focus, .button-red.active:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 55, 71, 0.25);
}
.button-red:disabled, .button-red.disabled, fieldset:disabled .button-red {
  color: #fff;
  pointer-events: none;
  background-color: #c6c9cb;
  border-color: #c6c9cb;
  box-shadow: none;
}
.button-red.button-outline {
  color: #dc3747;
  background-color: #fff;
  border-color: #dc3747;
}
.button-red.button-outline:hover {
  color: #dc3747;
  background-color: #fff;
  border-color: #dc3747;
}

html,
body {
  height: 100%;
  font-size: 17px;
  color: #2a2f30;
}

body {
  display: flex;
  flex-direction: column;
}
body header {
  background-color: #00898d;
  box-shadow: 0px 10px 25px rgba(76, 86, 86, 0.15);
  z-index: 1;
}
body main {
  flex: 1 0 500px;
  background-color: #fff;
}
body footer {
  flex: 0 0 auto;
  width: 100%;
  min-height: 320px;
  background: url("../../assets/img/fon_footer.jpg") no-repeat center/cover;
  position: relative;
  z-index: 1;
}
body footer::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 137, 141, 0.8);
}

.header-menu__icon::after, .header-menu__icon::before, .header-menu__icon span {
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  transition: all 0.3s ease 0s;
  background-color: #fff;
}

.header-menu {
  display: flex;
  align-items: center;
  padding-right: 20px;
  cursor: pointer;
}
.header-menu__icon {
  z-index: 5;
  display: block;
  position: relative;
  width: 20px;
  height: 16px;
  margin-left: 20px;
}
.header-menu__icon span {
  top: 50%;
  transform: scale(1) translate(0px, -50%);
}
.header-menu__icon::before {
  content: "";
  top: 0;
}
.header-menu__icon::after {
  content: "";
  bottom: 0;
}
.header-menu__icon._active span {
  transform: scale(0) translate(0px, -50%);
}
.header-menu__icon._active::before {
  top: 50%;
  transform: rotate(45deg) translate(0px, -50%);
}
.header-menu__icon._active::after {
  bottom: 50%;
  transform: rotate(-45deg) translate(0px, 50%);
}
.header-menu__list {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  padding: 20px 20px 30px 20px;
  min-width: 260px;
  list-style-type: none;
  margin: 0;
  gap: 5px;
  align-items: baseline;
  display: none;
  box-shadow: 0px 10px 25px rgba(76, 86, 86, 0.15);
}
.header-menu__list._active {
  display: flex;
}
.header-menu__link {
  display: inline-block;
  min-width: 10.625rem;
  padding: 0.625rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  background-color: #00898d;
  border: 1px solid #00898d;
  border-radius: 0.875rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  user-select: none;
  color: #00898d;
  background-color: #fff;
  border: none;
  min-width: fit-content;
  line-height: 1.18rem;
  font-weight: 400;
}
@media (prefers-reduced-motion: reduce) {
  .header-menu__link {
    transition: none;
  }
}
.header-menu__link:hover {
  color: #fff;
  text-decoration: none;
  background-color: #004f56;
  border-color: #004f56;
}
.header-menu__link:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 137, 141, 0.25);
}
.header-menu__link:active, .header-menu__link.active {
  color: #fff;
  background-color: #00898d;
  border-color: #00898d;
}
.header-menu__link:active:focus, .header-menu__link.active:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 137, 141, 0.25);
}
.header-menu__link:disabled, .header-menu__link.disabled, fieldset:disabled .header-menu__link {
  color: #fff;
  pointer-events: none;
  background-color: #c6c9cb;
  border-color: #c6c9cb;
  box-shadow: none;
}
.header-menu__link-outline {
  color: #00898d;
  background-color: #fff;
  border-color: #00898d;
}
.header-menu__link-outline:hover {
  color: #fff;
  background-color: #00898d;
  border-color: #00898d;
}
.header-menu__link-outline:active, .header-menu__link-outline.active {
  color: #fff;
  background-color: #004f56;
  border-color: #004f56;
}
.header-menu__link-red {
  color: #fff;
  background-color: #dc3747;
  border-color: #dc3747;
}
.header-menu__link-red:hover {
  color: #fff;
  background-color: #7e1620;
  border-color: #7e1620;
}
.header-menu__link-red:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(220, 55, 71, 0.25);
}
.header-menu__link-red:active, .header-menu__link-red.active {
  color: #fff;
  background-color: #a91e2b;
  border-color: #a91e2b;
}
.header-menu__link-red:active:focus, .header-menu__link-red.active:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 55, 71, 0.25);
}
.header-menu__link-red:disabled, .header-menu__link-red.disabled, fieldset:disabled .header-menu__link-red {
  color: #fff;
  pointer-events: none;
  background-color: #c6c9cb;
  border-color: #c6c9cb;
  box-shadow: none;
}
.header-menu__link-red.button-outline {
  color: #dc3747;
  background-color: #fff;
  border-color: #dc3747;
}
.header-menu__link-red.button-outline:hover {
  color: #dc3747;
  background-color: #fff;
  border-color: #dc3747;
}
.header-menu__link_active {
  color: #fff;
  background-color: #00898d;
  font-weight: 700;
}

@media (min-width: 1200px) {
  .header-menu__icon {
    display: none;
  }
  .header-menu__list {
    position: static;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    padding: 0;
  }
  .header-menu__link {
    display: inline-block;
    min-width: 10.625rem;
    padding: 0.625rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    background-color: #00898d;
    border: 1px solid #00898d;
    border-radius: 0.875rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    user-select: none;
    color: #fff;
    background-color: #00898d;
    border: none;
    min-width: fit-content;
    line-height: 1.18rem;
    font-weight: 400;
  }
}
@media (min-width: 1200px) and (prefers-reduced-motion: reduce) {
  .header-menu__link {
    transition: none;
  }
}
@media (min-width: 1200px) {
  .header-menu__link:hover {
    color: #fff;
    text-decoration: none;
    background-color: #004f56;
    border-color: #004f56;
  }
}
@media (min-width: 1200px) {
  .header-menu__link:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 137, 141, 0.25);
  }
}
@media (min-width: 1200px) {
  .header-menu__link:active, .header-menu__link.active {
    color: #fff;
    background-color: #00898d;
    border-color: #00898d;
  }
  .header-menu__link:active:focus, .header-menu__link.active:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 137, 141, 0.25);
  }
}
@media (min-width: 1200px) {
  .header-menu__link:disabled, .header-menu__link.disabled, fieldset:disabled .header-menu__link {
    color: #fff;
    pointer-events: none;
    background-color: #c6c9cb;
    border-color: #c6c9cb;
    box-shadow: none;
  }
}
@media (min-width: 1200px) {
  .header-menu__link-outline {
    color: #00898d;
    background-color: #fff;
    border-color: #00898d;
  }
  .header-menu__link-outline:hover {
    color: #fff;
    background-color: #00898d;
    border-color: #00898d;
  }
  .header-menu__link-outline:active, .header-menu__link-outline.active {
    color: #fff;
    background-color: #004f56;
    border-color: #004f56;
  }
}
@media (min-width: 1200px) {
  .header-menu__link-red {
    color: #fff;
    background-color: #dc3747;
    border-color: #dc3747;
  }
  .header-menu__link-red:hover {
    color: #fff;
    background-color: #7e1620;
    border-color: #7e1620;
  }
  .header-menu__link-red:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(220, 55, 71, 0.25);
  }
  .header-menu__link-red:active, .header-menu__link-red.active {
    color: #fff;
    background-color: #a91e2b;
    border-color: #a91e2b;
  }
  .header-menu__link-red:active:focus, .header-menu__link-red.active:focus {
    box-shadow: 0 0 0 0.2rem rgba(220, 55, 71, 0.25);
  }
  .header-menu__link-red:disabled, .header-menu__link-red.disabled, fieldset:disabled .header-menu__link-red {
    color: #fff;
    pointer-events: none;
    background-color: #c6c9cb;
    border-color: #c6c9cb;
    box-shadow: none;
  }
  .header-menu__link-red.button-outline {
    color: #dc3747;
    background-color: #fff;
    border-color: #dc3747;
  }
  .header-menu__link-red.button-outline:hover {
    color: #dc3747;
    background-color: #fff;
    border-color: #dc3747;
  }
}
@media (min-width: 1200px) {
  .header-menu__link_active {
    color: #00898d;
    background-color: #fff;
    font-weight: 700;
  }
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 0 0 auto;
  position: relative;
  min-height: 50px;
}

.header-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  transform: translateX(-20px);
}
.header-user__profile {
  color: #fff;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.header-user__profile-text {
  display: none;
}
.header-user__profile-name {
  width: max-content;
}
.header-user__account {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}
.header-user__avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: center #d8f2ef url("../../assets/img/fi_user.svg") no-repeat;
}
.header-user__arrow {
  width: 12px;
  height: 6px;
  background: center url("../../assets/img/Vector.svg") no-repeat;
}

.footer {
  position: relative;
  z-index: 1;
  padding: 40px 20px;
}
.footer__columns {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 40px;
}
.footer-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #fff;
}
.footer-column__infos {
  flex: 0 0 30%;
}
.footer-column a {
  color: #fff;
  text-decoration: none;
}
.footer__copyright {
  color: #fff;
  padding-bottom: 30px;
}

@media (min-width: 768px) {
  .footer__columns {
    display: flex;
    flex-direction: row;
    gap: 70px;
    margin-bottom: 60px;
  }
  .footer-column__infos {
    flex: 1 0 min-content;
  }
  .footer__copyright {
    padding-bottom: 0px;
  }
}
@media (min-width: 1200px) {
  .footer__columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-column__links {
    flex: 1 0 auto;
  }
  .footer-column__contacts {
    flex: 1 0 auto;
  }
  .footer-column__infos {
    flex: 1 0 500px;
  }
}
.user-menu {
  position: absolute;
  top: 110%;
  right: 0;
  min-width: 290px;
  min-height: 340px;
  background-color: #fff;
  box-shadow: 0px 10px 25px rgba(76, 86, 86, 0.15);
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  display: none;
}
.user-menu._active {
  display: flex;
}
.user-menu__account {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  color: #004f56;
}
.user-menu__avatar {
  width: 60px;
  height: 60px;
  background-size: 45%;
}
.user-menu__profile {
  display: flex;
  flex-direction: column;
}
.user-menu__profile-name {
  font-weight: 700;
}
.user-menu__profile-text {
  font-size: 14px;
}
.user-menu__profile-actions {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 220px;
}
.user-menu__profile-actions a {
  display: block;
  text-decoration: none;
  color: #2a2f30;
  display: flex;
  gap: 8px;
  align-items: center;
}
.user-menu__exit-profile {
  position: relative;
  margin-top: auto;
}
.user-menu__exit-profile::before {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  top: -20px;
  border-top: 1px solid #c6c9cb;
}
.user-menu .input-select {
  width: 100%;
}

.change-profile {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.change-profile__block {
  width: 100%;
  position: relative;
}
.change-profile__block[data-state=active] .change-profile__content {
  opacity: 1;
  max-height: fit-content;
  padding: 20px;
}
.change-profile__block[data-state=active] .change-profile__label {
  max-height: fit-content;
}
.change-profile__title {
  color: #fff;
  border-radius: 5px;
  background-color: #00898d;
  padding: 10px;
  cursor: pointer;
}
.change-profile__title::before, .change-profile__title::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 16px;
  display: block;
  width: 10px;
  height: 2px;
  transition: all 0.3s ease-out;
  background-color: #fff;
  transform: translate(-3px, -50%) rotate(45deg);
}
.change-profile__title::after {
  transform: translate(3px, -50%) rotate(-45deg);
}
.change-profile__content {
  position: absolute;
  top: 115%;
  max-height: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 50px rgba(69, 66, 64, 0.2);
  transition: height 1s ease;
  opacity: 0;
  z-index: 8;
  gap: 20px;
  color: #626b6d;
  padding: 0;
}
.change-profile__input {
  display: none;
}
.change-profile__input:checked + label {
  color: #00898d;
  font-weight: bold;
}
.change-profile__input:disabled + label {
  opacity: 0.6;
  pointer-events: none;
}
.change-profile__label {
  font-size: 1rem;
  display: flex;
  align-items: center;
  width: 100%;
  max-height: 0;
  transition: all 0.2s ease-out;
  cursor: pointer;
  overflow: hidden;
}
.change-profile__label:hover {
  color: #095d64;
}

.icon-20 {
  width: 20px;
  height: 20px;
}

.icon-18 {
  width: 18px;
  height: 18px;
}

.green-300 {
  color: #00898d;
}

.header-balance {
  min-height: 70px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  padding-right: 20px;
  align-items: center;
  color: #00898d;
}
.header-balance-wrapper {
  background-color: #fff;
}
.header-balance__balance {
  display: flex;
  gap: 5px;
}
.header-balance__value {
  color: #004f56;
  font-weight: bold;
}
.header-balance__button {
  display: inline-block;
  min-width: 10.625rem;
  padding: 0.625rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  background-color: #00898d;
  border: 1px solid #00898d;
  border-radius: 0.875rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  user-select: none;
  color: #00898d;
  background-color: #fff;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: fit-content;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #00898d;
}
@media (prefers-reduced-motion: reduce) {
  .header-balance__button {
    transition: none;
  }
}
.header-balance__button:hover {
  color: #fff;
  text-decoration: none;
  background-color: #004f56;
  border-color: #004f56;
}
.header-balance__button:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 137, 141, 0.25);
}
.header-balance__button:active, .header-balance__button.active {
  color: #fff;
  background-color: #00898d;
  border-color: #00898d;
}
.header-balance__button:active:focus, .header-balance__button.active:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 137, 141, 0.25);
}
.header-balance__button:disabled, .header-balance__button.disabled, fieldset:disabled .header-balance__button {
  color: #fff;
  pointer-events: none;
  background-color: #c6c9cb;
  border-color: #c6c9cb;
  box-shadow: none;
}
.header-balance__button-outline {
  color: #00898d;
  background-color: #fff;
  border-color: #00898d;
}
.header-balance__button-outline:hover {
  color: #fff;
  background-color: #00898d;
  border-color: #00898d;
}
.header-balance__button-outline:active, .header-balance__button-outline.active {
  color: #fff;
  background-color: #004f56;
  border-color: #004f56;
}
.header-balance__button-red {
  color: #fff;
  background-color: #dc3747;
  border-color: #dc3747;
}
.header-balance__button-red:hover {
  color: #fff;
  background-color: #7e1620;
  border-color: #7e1620;
}
.header-balance__button-red:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(220, 55, 71, 0.25);
}
.header-balance__button-red:active, .header-balance__button-red.active {
  color: #fff;
  background-color: #a91e2b;
  border-color: #a91e2b;
}
.header-balance__button-red:active:focus, .header-balance__button-red.active:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 55, 71, 0.25);
}
.header-balance__button-red:disabled, .header-balance__button-red.disabled, fieldset:disabled .header-balance__button-red {
  color: #fff;
  pointer-events: none;
  background-color: #c6c9cb;
  border-color: #c6c9cb;
  box-shadow: none;
}
.header-balance__button-red.button-outline {
  color: #dc3747;
  background-color: #fff;
  border-color: #dc3747;
}
.header-balance__button-red.button-outline:hover {
  color: #dc3747;
  background-color: #fff;
  border-color: #dc3747;
}
.header-balance__button_active {
  color: #fff;
  background-color: #00898d;
  font-weight: 700;
}

@media (min-width: 768px) {
  .header-balance__button {
    width: fit-content;
  }
}
._none-mobile {
  display: none;
}

@media (min-width: 768px) {
  ._none-mobile {
    display: block;
  }
}
.catalog-wrapper {
  background-color: #fff;
}

.catalog {
  padding: 40px 0;
}
.catalog__subtitle {
  color: #2a2f30;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 40px;
}
.catalog-list {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0;
  gap: 20px;
}
.item {
  list-style: none;
  min-height: 485px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0px 10px 25px rgba(76, 86, 86, 0.15);
}
.item__image {
  flex: 0 0 200px;
}
.item__image img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.item__content {
  flex: 1 0 285px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
}
.item__content > p {
  margin-bottom: 0;
}
.item__title {
  color: #004f56;
  font-weight: 700;
}
.item__price {
  margin-top: auto;
}
.item__price.item-price_promo .item-price__values {
  position: relative;
  transform: translateX(30px);
}
.item__about {
  display: inline-block;
  min-width: 10.625rem;
  padding: 0.625rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  background-color: #00898d;
  border: 1px solid #00898d;
  border-radius: 0.875rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  user-select: none;
  color: #fff;
  background-color: #00898d;
  border: none;
  min-width: 130px;
}
@media (prefers-reduced-motion: reduce) {
  .item__about {
    transition: none;
  }
}
.item__about:hover {
  color: #fff;
  text-decoration: none;
  background-color: #004f56;
  border-color: #004f56;
}
.item__about:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 137, 141, 0.25);
}
.item__about:active, .item__about.active {
  color: #fff;
  background-color: #00898d;
  border-color: #00898d;
}
.item__about:active:focus, .item__about.active:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 137, 141, 0.25);
}
.item__about:disabled, .item__about.disabled, fieldset:disabled .item__about {
  color: #fff;
  pointer-events: none;
  background-color: #c6c9cb;
  border-color: #c6c9cb;
  box-shadow: none;
}
.item__about-outline {
  color: #00898d;
  background-color: #fff;
  border-color: #00898d;
}
.item__about-outline:hover {
  color: #fff;
  background-color: #00898d;
  border-color: #00898d;
}
.item__about-outline:active, .item__about-outline.active {
  color: #fff;
  background-color: #004f56;
  border-color: #004f56;
}
.item__about-red {
  color: #fff;
  background-color: #dc3747;
  border-color: #dc3747;
}
.item__about-red:hover {
  color: #fff;
  background-color: #7e1620;
  border-color: #7e1620;
}
.item__about-red:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(220, 55, 71, 0.25);
}
.item__about-red:active, .item__about-red.active {
  color: #fff;
  background-color: #a91e2b;
  border-color: #a91e2b;
}
.item__about-red:active:focus, .item__about-red.active:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 55, 71, 0.25);
}
.item__about-red:disabled, .item__about-red.disabled, fieldset:disabled .item__about-red {
  color: #fff;
  pointer-events: none;
  background-color: #c6c9cb;
  border-color: #c6c9cb;
  box-shadow: none;
}
.item__about-red.button-outline {
  color: #dc3747;
  background-color: #fff;
  border-color: #dc3747;
}
.item__about-red.button-outline:hover {
  color: #dc3747;
  background-color: #fff;
  border-color: #dc3747;
}
.item__about_active {
  color: #00898d;
  background-color: #fff;
  font-weight: 700;
}
/*# sourceMappingURL=main.css.map */
