.auth-background {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
  background: url(../../assets/img/img4.webp) center no-repeat;
  background-size: cover;
  z-index: 1;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $auth-bg-overlay-color;
    z-index: -1;
  }

}
.auth-modal {
  max-width: 750px;
  margin: 0 auto;
  background-color: transparent;
  margin-bottom: 80px;
  margin-top: 80px;

  &__title {
    margin-bottom: 20px;
  }
  &__content {
    .form-auth {
      display: flex;
      flex-direction: column;
      gap: 20px;

      &__buttons {
        display: flex;
        flex-direction: column;
        gap: 20px;
        @media (min-width: 768px) {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          gap: 30px;
        }
      }
      &__button {
        width: 100%;
      }
      &__forget {
        display: flex;
        flex-direction: column;
        gap: 10px;
        p {
          margin: 0;
        }
        a {
          @include link-green();
        }
      }
    }
  }
}
