.catalog-landing {
  &__banner {
    background: url("../../assets/img/catalog-landing.webp") center no-repeat;
    background-size: cover;
    min-height: 650px;
    &-content {
      width:100%;
      display: flex;
      padding-top: 110px;
      flex-direction: column;
      gap: 40px;
      align-items: baseline;
      @media (min-width: 992px) {
        max-width: 50%;
      }
    }

  }
  &__content {
      margin-top: -160px;
      background-color: white;
      padding: 40px 70px;
      margin-bottom: 100px;
      @include shadow();
  }
}
