.catalog-wrapper {
    background-color: $color-white;

}
.catalog {
    &__subtitle {
        color: $color-black-text;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 40px;
    }
    &-list {
        display: grid;
        grid-template-columns: 1fr;
        padding:0;
        gap: $item-offsets;
    }
}
@media (min-width: 568px) {
    .catalog-list {
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 1200px) {
    .catalog-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
