.catalog {
  .item {
    list-style: none;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 500px;
    cursor: pointer;
    &:hover .item__about {
      transition: background-color 0.7s ease-out, border-color 0.7s ease-out;
      background-color: $color-green-heading;
      border-color: $color-green-heading;
    }
    @include shadow();
    &__promo-bonus {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top:5%;
      left:0;
      color:$color-white;
      padding: 8px 40px 8px 35px;
      font-weight: 700;
      font-size: 1rem;
      line-height: 1;
      z-index: 2;
      height:35px;
      &::before {
        content:'';
        position: absolute;
        z-index: -1;
        top:0;
        left:0;
        width:130px;
        height:35px;
        background: url('./../../assets/img/flag.svg') 0 0/cover no-repeat;

        transform: rotate(180deg);
      }
    }
    &__link {
      display: block;
      text-decoration: none;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    &__image {
      flex: 0 0 200px;
      width: 100%;
      & img {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    &__content {
      flex: 1 0 285px;
      padding: 30px;
      display: flex;
      flex-direction: column;
      gap: 15px;
      align-items: baseline;
      padding-bottom:50px;
      & > p {
        margin-bottom: 0;
      }
    }

    &__title {
      color: $color-green-heading;
      font-weight: 700;
      font-size: 20px;
      line-height: 1.2;
    }
    p.item__preview {
      color: #626b6d;
      font-size: 17px;
      line-height: 1.2;
      margin-bottom: 20px;
    }
    &__price {

      width:100%;

      margin-top: auto;
      &-promo-flag {
        display: none;
      }
      &-values {

        position: relative;
        color: $color-green-300;
        font-weight: 700;
        line-height: 1;
        min-height: 45px;
        font-size: 24px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-right: -30px;
        margin-left: -30px;
        padding-left: 30px;
        padding-right: 30px;
      }
      &-old {
        color: $color-gray-300;
        position: absolute;
        top:5%;
        text-decoration: line-through;
        font-size: 14px;
        font-weight: 700;

      }
      &_promo {
        .item__price-values::before {
          content: '';
          width: 10px;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background-color: #FF8F3F;
        }
          .item__price-promo-flag {
            display: block;
            position: absolute;
            height:45px;
              top:0;
              right: 0;
              bottom: 0;
              width: 40%;
              background: url("./../../assets/img/flag.svg");
              overflow: hidden;
          }
          .item__price-promo-flag::after {
              content:'';
              display: block;
              width: 118px;
              position: absolute;
              background: url("./../../assets/img/percent.svg");
              top:0;
              bottom: 0;
              left: calc(50% + 12px);
              transform: translateX(-50%);
          }

        }
      }


    &__about {
      @include button("button");
      min-width: 130px;
    }
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .item__content {
    padding: 15px;
  }
}
