.faq {
  display: flex;
  flex-direction: column;
  gap: $item-offsets;
  & &__question,
  & &__answer {
    margin: 0;
    span {
      color: $color-green-300;
    }
  }
  & &__list {
    display: flex;
    flex-direction: column;
    gap: $item-offsets;
  }
  & &__answer {
    background-color: cadetblue;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    &-content {
        padding: 20px;
    }
  }
  & &__question {
    background-color: bisque;
    position: relative;
    padding: 20px;
    cursor: pointer;
    &::after {
      content: "";
      position: absolute;
      right: 20px;
      width: 20px;
      height: 20px;
      top: 50%;
      transform: translateY(-50%);
      background: url("../../assets/icons/feather/chevron-down.svg") center
        no-repeat;
      background-size: cover;
      transition: all 0.5s ease;
    }
  }
  & &__item {
    @include shadow();
    background-color: $color-white;
    &_active {
      .faq__question {
        &::after {
          transform: translateY(-50%) rotate(180deg);
        }
      }
    }
  }
}
