.faq {
  display: flex;
  flex-direction: column;
  gap: $item-offsets;
  & &__question,
  & &__answer {
    margin: 0;
    span {
      color: $color-green-300;
    }
  }
  & &__list {
    display: flex;
    flex-direction: column;
    gap: $item-offsets;
  }
  & &__answer {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    &-content {
        padding: 20px;
    }
  }
  & &__question {
    position: relative;
    padding: 20px;
    padding-right: 60px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &::after {
      content: "";
      position: absolute;
      right: 20px;
      width: 20px;
      height: 20px;
      top: 50%;
      transform: translateY(-50%);
      background: url("../../assets/icons/feather/chevron-down.svg") center
        no-repeat;
      background-size: cover;
      transition: all 0.5s ease;
    }
    h2 {
      font-size: 17px;
      font-weight: 400;
      color: unset;
      margin: 0;
      padding: 0;
    }
    .url-copy-button {
      opacity: 0;
      margin: 0;
      padding: 0;
      border:none;
      width:45px;
      height: 45px;
      flex-shrink: 0;
      flex-grow: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      transition: opacity .3s ease;
      border-color: white;
    }
  }
  & &__question:hover {
    .url-copy-button {
      opacity: 1;
      &:hover {
        border: 1px solid $color-green-300;
        border-radius: 14px;
        transition: border-color .2s ease;
      }
    }
  }
  & &__item {
    @include shadow();
    background-color: $color-white;
    &_active {
      .faq__question {
        &::after {
          transform: translateY(-50%) rotate(180deg);
        }
      }
    }
  }
}
