


.footer {
    position: relative;
    z-index: 1;
    &__columns {
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 45px 0;
        
    }
    &-column {
        display: flex;
        flex-direction: column;
        gap:30px;
        &__infos {
            flex: 0 0 30%;
        }
        a {
            color: $color-white;
            text-decoration: none;
        }
        
    }
    &__copyright {
        padding-bottom: 30px;
    }
}