.form {
  @include form();
  &__columns {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  &-addition-right-btn {
    display: flex;
    flex-direction: row;
    .form-select__select,
    .form-input__input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      flex:1 1 0%;
    }
  }
  .addition-right-btn {
    cursor: pointer;
    position: relative;
    background-color: $color-gray-200;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $color-gray-300;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: none;
    width: 45px;
    height: 45px;
    z-index: 2;
  }
  .addition-right-btn-plus {
    position: absolute;
  }
  .incAndDecrButtons {
    height: 45px;
    width: 157px;
    display: flex;
    align-items: center;
    background: #FFF;
    border-radius: 4px;
    border: 1px solid #BDBDBD;
    padding: 0;
    margin: 0;
    flex-shrink: 0;
    &__block {
      display: flex;
      align-items: center;
      gap:10px;
      p {
        margin-bottom: 0;
      }
    }
    input.num{
      color:#454240;
      width: 67px;
      text-align: center;
      font-size: 1rem;
      border:none;
      height:100%;
      border-left: 1px solid #BDBDBD;
      border-right: 1px solid #BDBDBD;
      padding: 0;
      appearance: none;
      &:focus {
        outline:none;
      }
    }
    button.btn {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      height:45px;
      flex: 0 0 45px;
      border:none;
      &.minus {
        background: url('./../../assets/icons/custom/minus_btn.svg') no-repeat center;
      }
      &.plus {
        background: url('./../../assets/icons/custom/plus_btn.svg') no-repeat center;
      }
    }
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none; // Yeah, yeah everybody write about it
    }

    input[type='number'],
    input[type="number"]:hover,
    input[type="number"]:focus {
        appearance: none;
        -moz-appearance: textfield;
    }
  }



  .check-radio-list {
    display: flex;
    padding: 0;
    column-gap: 40px;
    row-gap: 20px;
    flex-wrap: wrap;
  }
  .switch-field {
    display: flex;
    overflow: hidden;
    background-color:#DFDFDF;
    width: fit-content;
    border: 4px solid #DFDFDF;
    border-radius: 4px;
    gap: 5px;
  }

  .switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden
  }

  .switch-field label {
    display: flex;
    width:62px;
    height:39px;
    border-radius: 4px;
    align-items:center;
    justify-content: center;

  }

  .switch-field label:hover {
    cursor: pointer;
  }

  .switch-field input:checked + label {
    background-color: white;
    box-shadow: none;
  }
  .form-range {
    width:100%;

    &__input {
      width:100%;
    }
    &__values {
      display: flex;
      justify-content: space-between;
      .value {
        color: $color-gray-300;
      }
    }


  input[type="range"] {
    -webkit-appearance: none;
    height: 7px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    background-image: linear-gradient($color-green-300, $color-green-300);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    box-shadow: 0 0 2px 0 $color-gray-400;
    &:focus {
      box-shadow: 0 0 3px 1px $color-green-200;
      outline: none;
    }
  }

  /* Input Thumb */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: $color-green-300;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;

  }

  input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: $color-green-300;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
  }

  input[type="range"]::-ms-thumb {
    -webkit-appearance: none;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: $color-green-300;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
  }

  input[type="range"]::-webkit-slider-thumb:hover {
    background: $color-green-300;
  }

  input[type="range"]::-moz-range-thumb:hover {
    background: $color-green-300;
  }

  input[type="range"]::-ms-thumb:hover {
    background: $color-green-300;
  }

  /* Input Track */
  input[type=range]::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }

  input[type=range]::-moz-range-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }

  input[type="range"]::-ms-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }
}
}
