header.unauthorized {
  .header-menu {
    &__icon {
      span {
        background-color: $color-green-300;
      }
      &::before {
        background-color: $color-green-300;
      }

      &::after {
        background-color: $color-green-300;
      }
    }
  }
  @media (min-width: 1200px) {
    .header-menu {
      &__link {
        @include button("outline");
        border: $color-white;
        min-width: fit-content !important;
        line-height: 1.18rem;
        font-weight: 400;

        &_active {
          font-weight: 700;
        }
      }
    }
  }
}
