@mixin button-square-form {
  min-width: unset !important;
  width: 45px;
  height: 45px;
  padding: 0;
  border-radius: 4px;
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin button-colors($color: $button-color,
  $background-color: $button-background-color,
  $border-color: $button-border-color) {
  color: $color;
  background-color: $background-color;
  border: $border-width solid $border-color;
}

@mixin button($button-type: "button") {
  @if ($button-type =="button") {
    min-width: $button-min-width;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $button-padding-y $button-padding-x;
    font-size: $button-font-size;
    font-weight: $button-font-weight;
    line-height: $button-line-height;
    color: $button-color;
    text-decoration: $text-decoration-none;
    cursor: $button-cursor;
    background-color: $button-background-color;
    border: $border-width solid $button-border-color;
    border-radius: $button-border-radius;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    user-select: none;

    @media (prefers-reduced-motion: reduce) {
      transition: none;
    }

    &:hover {
      color: $button-hover-color;
      text-decoration: $text-decoration-none;
      background-color: $button-hover-background-color;
      border-color: $button-hover-border-color;
    }

    &:focus {
      outline: 0;
      box-shadow: $button-focus-box-shadow;
    }

    &:active,
    &.active,
    &_active {
      color: $button-active-color;
      background-color: $button-hover-background-color;
      border-color: $button-hover-background-color;

      &:focus {
        box-shadow: $button-focus-box-shadow;
      }
    }

    &:disabled,
    &.disabled,
    fieldset:disabled & {
      // sass-lint:disable-line force-pseudo-nesting
      color: $button-disabled-color;
      pointer-events: none;
      background-color: $button-disabled-background-color;
      border-color: $button-disabled-border-color;
      box-shadow: none;
    }
  }

  @if ($button-type =="red") {
    @include button("button");
    color: $button-red-color;
    background-color: $color-white;
    border-color: $button-red-color;

    &:hover {
      color: $button-red-hover-color;
      background-color: $button-red-hover-background-color;
      border-color: $button-red-hover-border-color;
    }

    &:focus {
      outline: 0;
      box-shadow: $button-red-focus-box-shadow;
    }

    &:active,
    &.active,
    &_active {
      color: $button-red-active-color;
      background-color: $button-red-active-background-color;
      border-color: $button-red-active-border-color;

      &:focus {
        box-shadow: $button-red-focus-box-shadow;
      }

      &:hover {
        color: $button-red-active-color;
        background-color: $button-red-active-hover-background-color;
        border-color: $button-red-active-hover-background-color;
      }
    }
  }

  @if ($button-type =="outline") {
    @include button("button");

    color: $button-outline-color;
    background-color: $color-white;
    border-color: $button-outline-border-color;

    &:hover {
      color: $button-outline-hover-color;
      background-color: $button-outline-hover-background-color;
      border-color: $button-outline-hover-border-color;
    }

    &:active,
    &.active,
    &_active {
      color: $button-outline-active-color;
      background-color: $button-outline-active-background-color;
      border-color: $button-outline-active-border-color;

      &:hover {
        color: $button-outline-hover-color;
        background-color: $color-green-500;
        border-color: $color-green-500;
      }
    }
  }

  @if ($button-type =="square") {
    &_plus {
      @include button("outline");
      @include button-square-form();

      background-image: url("../../assets/icons/custom/plus_green.svg");

      &.active,
      &:active,
      &_active,
      &:hover {
        background-image: url("../../assets/icons/custom/plus_white.svg");
      }

      &.disabled,
      &:disabled {
        background-image: url("../../assets/icons/custom/plus_white.svg");
      }
    }

    &_cancel {
      @include button("red");
      @include button-square-form();
      background-image: url("../../assets/icons/custom/x_red.svg");

      &.active,
      &:active,
      &:hover {
        background-image: url("../../assets/icons/custom/x_white.svg");
      }

      &.disabled,
      &:disabled {
        background-image: url("../../assets/icons/custom/x_white.svg");
      }
    }
  }
}

@mixin form() {
  ul {
    padding-left: 20px;
  }

  input[type="text"]:disabled,
  input[type="submit"]:disabled,
  input[type="reset"]:disabled,
  input[type="password"]:disabled,
  input[type="file"]:disabled,
  input[type="tel"]:disabled,
  input[type="number"]:disabled {
    background-color: $color-gray-100;
  }

  &-radio {
    margin-bottom: 10px;
    list-style: none;

    input[type="radio"] {
      display: none;

      &:checked+label::after {
        content: "";
        border-radius: 50%;
        width: 13px;
        height: 13px;
        position: absolute;
        top: 50%;
        left: 13px;
        transform: translate(-50%, -50%);
        z-index: 2;
        background-color: $color-green-300;
      }

      &:disabled {
        &+label {
          cursor: default;
        }

        &+label::before {
          background: none;
          cursor: default;
          border: 1px solid $color-gray-300;
          border-radius: 50%;
        }
      }
    }

    &.form-radio_white {
      label {
        &:before {
          border-color: $color-white;
        }
      }

      input[type="radio"] {
        &:checked+label::after {
          background-color: $color-white;
        }
      }
    }

    label {
      position: relative;
      padding-left: 35px;
      margin-right: 0;
      cursor: pointer;

      &:before {
        content: "";
        border: 1px solid $color-green-300;
        border-radius: 50%;
        width: 26px;
        height: 26px;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
    }
  }

  &-checkbox {
    list-style: none;
    margin-bottom: 10px;

    input[type="checkbox"] {
      display: none;

      &:checked+label::before {
        background: url("../../assets/icons/custom/checkbox-button_active.svg") center no-repeat;
      }

      &:disabled {
        &+label {
          cursor: default;
        }

        &+label::before {
          background: none;
          cursor: default;
          border: 1px solid $color-gray-300;
          border-radius: 5px;
        }
      }
    }

    label {
      position: relative;
      padding-left: 35px;
      margin-right: 0;
      cursor: pointer;

      &:before {
        content: "";
        width: 26px;
        height: 26px;
        position: absolute;
        top: 0;
        left: 0;
        background: url("../../assets/icons/custom/checkbox-button.svg") center no-repeat;
      }
    }
  }

  fieldset {
    border: 1px solid $color-gray-300;
    border-radius: 5px;
    padding: 10px;
  }

  &-input {
    &__label {
      display: block;
      padding-bottom: 0.3rem;
      color: $color-gray-400;
    }

    &__input {
      min-height: 45px;
      display: block;
      border-radius: 5px;
      border: 1px solid $color-gray-300;
      padding: 0.5rem 0.8rem;
      width: 100%;
      outline: 0;
      transition: border-color 0.15s ease-in-out;
      background-color: $color-white;

      &~.form-input__error {
        display: none;
      }

      &::placeholder {
        color: $color-gray-300;
      }

      &:focus {
        outline: 0;
        border-color: $color-black-text;
        box-shadow: 0px 5px 15px rgba(76, 86, 86, 0.2);

        &~.form-input__with-icon,
        &~.form-input__right-button {
          border-color: $color-black-text;
        }
         
        &~.form-input__password-icon {
          border-color: $color-black-text;

          &::after {
            background: url("data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22%232a2f30%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20class%3D%22feather%20feather-eye%22%3E%3Cpath%20d%3D%22M1%2012s4-8%2011-8%2011%208%2011%208-4%208-11%208-11-8-11-8z%22%3E%3C%2Fpath%3E%3Ccircle%20cx%3D%2212%22%20cy%3D%2212%22%20r%3D%223%22%3E%3C%2Fcircle%3E%3C%2Fsvg%3E") 0 0 no-repeat;
            background-size: cover;
          }

          &.view {
            &::after {
              background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22%232a2f30%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20class%3D%22feather%20feather-eye-off%22%3E%3Cpath%20d%3D%22M17.94%2017.94A10.07%2010.07%200%200%201%2012%2020c-7%200-11-8-11-8a18.45%2018.45%200%200%201%205.06-5.94M9.9%204.24A9.12%209.12%200%200%201%2012%204c7%200%2011%208%2011%208a18.5%2018.5%200%200%201-2.16%203.19m-6.72-1.07a3%203%200%201%201-4.24-4.24%22%3E%3C%2Fpath%3E%3Cline%20x1%3D%221%22%20y1%3D%221%22%20x2%3D%2223%22%20y2%3D%2223%22%3E%3C%2Fline%3E%3C%2Fsvg%3E") 0 0 no-repeat;
              background-size: cover;
            }
          }
        }
      }

      &_valid {
        border-color: $color-gray-400;
      }

      &_invalid {
        border-color: $color-red;
        position: relative;
        z-index: 2;

        &~.form-input__error {
          display: flex;
          padding: 0.5rem 0.8rem;
          align-items: center;
          color: $color-white;

          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          width: 100%;
          z-index: -1;
          background-color: $color-red;
          transform: translateY(-4px);
        }

        &~.form-input__password-icon,
         &~.form-input__right-button {
          border-color: $color-red !important;
        }

        &:focus {
          box-shadow: none;
          border-color: $color-red;
        }
      }
    }

    &__password {
      position: relative;

      & .form-input__input {
        padding-right: 55px;
      }

      &-icon {
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: $color-gray-200;
        display: block;
        border: 1px solid $color-gray-300;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-left: none;
        width: 45px;
        height: 45px;
        z-index: 2;

        &::after {
          content: "";
          display: block;
          width: 20px;
          height: 20px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 11px;
          background: url("data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22%23c6c9cb%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20class%3D%22feather%20feather-eye%22%3E%3Cpath%20d%3D%22M1%2012s4-8%2011-8%2011%208%2011%208-4%208-11%208-11-8-11-8z%22%3E%3C%2Fpath%3E%3Ccircle%20cx%3D%2212%22%20cy%3D%2212%22%20r%3D%223%22%3E%3C%2Fcircle%3E%3C%2Fsvg%3E") 0 0 no-repeat;
          background-size: cover;
        }

        &.view {
          &::after {
            content: "";
            width: 20px;
            height: 20px;
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 11px;

            background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22%23c6c9cb%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20class%3D%22feather%20feather-eye-off%22%3E%3Cpath%20d%3D%22M17.94%2017.94A10.07%2010.07%200%200%201%2012%2020c-7%200-11-8-11-8a18.45%2018.45%200%200%201%205.06-5.94M9.9%204.24A9.12%209.12%200%200%201%2012%204c7%200%2011%208%2011%208a18.5%2018.5%200%200%201-2.16%203.19m-6.72-1.07a3%203%200%201%201-4.24-4.24%22%3E%3C%2Fpath%3E%3Cline%20x1%3D%221%22%20y1%3D%221%22%20x2%3D%2223%22%20y2%3D%2223%22%3E%3C%2Fline%3E%3C%2Fsvg%3E") 0 0 no-repeat;
            background-size: cover;
          }
        }
      }
    }

    &__with {
      position: relative;

      &-icon {
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: $color-gray-200;
        display: block;
        border: 1px solid $color-gray-300;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-left: none;
        width: 45px;
        height: 45px;
        z-index: 2;

        &::after {
          content: "";
          display: block;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }

      &-tenge-icon {
        &::after {
          width: 12px;
          height: 12px;
          background: url("../../assets/icons/custom/tenge.svg") 0 0 no-repeat;
          background-size: cover;
        }
      }
    }

    &-file {
      position: relative;

      &__file {
        position: relative;
        z-index: 2;
        width: 100%;
        min-height: 45px;
        margin: 0;
        opacity: 0;
      }

      &__label {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 2;
        outline: 0;
        font-weight: 400;
        line-height: 1.5;
        color: $color-gray-300;
        background-color: #fff;
        border: 1px solid $color-gray-300;
        min-height: 45px;
        padding: 0.5rem 0.8rem;
        border-radius: 5px;
        cursor: pointer;

        &::after {
          position: absolute;
          top: 0px;
          right: 0px;
          bottom: 0px;
          z-index: 3;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          color: $color-black;
          background-color: $color-gray-200;
          padding: 0.375rem 0.75rem;
          border-left: inherit;
          border-radius: 0px 5px 5px 0px;
        }
      }

      .form-input-file__file~.form-input-file__label[data-browse]::after {
        content: attr(data-browse);
      }
    }

    &-wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      @media (min-width: 576px) {
        gap: 20px;
      }
    }

    &__wrapper {
      position: relative;

      .form-input__input {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        padding-right: 125px;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
      }
    }

    &__right-button {
      display: block;
      min-height: 45px;
      background-color: $color-gray-200;
      position: absolute;
      top: 0;
      right: 0;
      border: 1px solid $color-gray-300;
      border-left: none;
      padding-left: 10px;
      padding-right: 10px;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
      z-index: 2;
    }
  }

  &-select {
    label {
      display: block;
      padding-bottom: 0.3rem;
      color: $color-gray-400;
    }

    &__select {
      position: relative;
      appearance: none;
      display: block;
      border-radius: 5px;
      border: 1px solid $color-gray-300;
      padding: 0.5rem 0.8rem;
      width: 100%;
      outline: 0;
      transition: border-color 0.15s ease-in-out;
      background-color: $color-white;background: url("data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22%23c6c9cb%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20class%3D%22feather%20feather-chevron-down%22%3E%3Cpolyline%20points%3D%226%209%2012%2015%2018%209%22%3E%3C%2Fpolyline%3E%3C%2Fsvg%3E") right 9px bottom 10px no-repeat;
      &:focus {
        z-index: 2;
        position: relative;
        appearance: none;
        background: url("data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22%23c6c9cb%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20class%3D%22feather%20feather-chevron-down%22%3E%3Cpolyline%20points%3D%226%209%2012%2015%2018%209%22%3E%3C%2Fpolyline%3E%3C%2Fsvg%3E") right 9px bottom 10px no-repeat;
        display: block;
        border-radius: 5px;
        border: 1px solid $color-black-text;
        padding: 0.5rem 0.8rem;
        width: 100%;
        outline: 0;
        transition: border-color 0.15s ease-in-out;
        background-color: $color-white;
        // box-shadow: 0px 0px 0px .3px rgba(0, 0, 0, 1);
      }
      &_invalid {
        border-color: $color-red !important;
        position: relative;
        z-index: 2;

        &~.form-input__error {
          display: flex;
          padding: 0.5rem 0.8rem;
          align-items: center;
          color: $color-white;

          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          width: 100%;
          z-index: -1;
          background-color: $color-red;
          transform: translateY(-4px);
        }

        &:focus {
          border-color: $color-red;
          box-shadow: none;

          &~.form-input__error {
            display: flex;
            padding: 0.5rem 0.8rem;
            align-items: center;
            color: $color-white;

            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            width: 100%;
            z-index: -1;
            background-color: $color-red;
            transform: translateY(-4px);
          }
        }
      }

      

      &:invalid {
        border-color: $color-red;
        background: url("data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22%232a2f30%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20class%3D%22feather%20feather-chevron-down%22%3E%3Cpolyline%20points%3D%226%209%2012%2015%2018%209%22%3E%3C%2Fpolyline%3E%3C%2Fsvg%3E") right 9px bottom 10px no-repeat;
      }
    }
  }
}

@mixin alert() {
  display: block;
  min-height: 90px;
  padding: 20px;
  color: $color-black-text;

  @media (min-width: 540px) {
    padding: 2rem;
  }

  &>p {
    line-height: 1.2;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-heading {
    position: relative;
    padding-left: 40px;
    font-weight: bold;
  }

  &_success {
    background-color: $color-green-100;

    .alert-heading::before {
      content: "";
      display: block;
      position: absolute;
      width: 30px;
      height: 30px;
      background: url("../../assets/icons/feather/alert-octagon.svg") center no-repeat;
      background-size: cover;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &_warning {
    background-color: $color-light-yellow;

    .alert-heading::before {
      content: "";
      display: block;
      position: absolute;
      width: 30px;
      height: 30px;
      background: url("../../assets/icons/feather/alert-octagon.svg") center no-repeat;
      background-size: cover;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &_error {
    background-color: $color-light-red;
    color: $color-white;

    .alert-heading::before {
      content: "";
      display: block;
      position: absolute;
      width: 30px;
      height: 30px;
      background: url("../../assets/icons/custom/alert-octagon_white.svg") center no-repeat;
      background-size: cover;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      stroke: white;
    }
  }
}

@mixin shadow() {
  box-shadow: 0px 10px 25px rgba(76, 86, 86, 0.15);
}

@mixin link-green() {
  color: $color-green-300;
  text-decoration: none;

  &:hover {
    color: $color-green-500;
  }
}

@mixin mb($range) {
  margin-bottom: #{$range}px;
}

@mixin mt($range) {
  margin-top: #{$range}px;
}

@mixin icon-text($feature-icon) {
  background: url("../../assets/icons/feather/#{$feature-icon}.svg") center no-repeat;
}