.page {
    padding: 40px 0 40px;
    &.page-landing {
    padding: 0;
    }
    &-section {
        padding:20px;
        background-color: $color-white;
        @include shadow();
        @media (min-width: 576px) {
            padding:40px;
        }
        @media (min-width: 768px) {
            padding: 50px 60px;
        }
        @media (min-width: 768px) {
            padding:60px 70px;
        }
    }

    .section {
        @include shadow();
    }
}
