.cloud {
  .form {
    width:100%;
  }
  .popup {

    align-items: flex-start;
    &-wrapper {
      width: 320px;
      max-height: 85vh;
      @media (min-width: 400px) {
        width: 80%;
        max-width: 1140px;
      }
      @media (min-width: 1200px) {
        max-height: 90vh;
      }
    }
    &__title {
      text-align: left;
    }
    &__text {
      text-align: left;
    }
  }

}
.popup {
  &-wrapper {
    max-height: calc(100vh - 4em);
    overflow-y: auto;
    margin: 0 auto;
    padding: 40px;
    background-color: $color-white;
    @include shadow();
  }
  display: flex;

  flex-direction: column;
  gap: 20px;
  align-items: center;
  position: relative;

  @media (min-width: 576px) {
    &-wrapper {
      padding: 40px 40px 70px 40px;
    }
    &__close-button {
      position: absolute;
      width: 30px;
      height: 30px;
      border: 1px solid $color-gray-300;
      border-radius: 50%;
      background: url("../../assets/icons/custom/x_gray.svg") center no-repeat;
      background-size: 14px;
      top: -30px;
      right: -30px;
      cursor: pointer;
    }
    &-question {
      .popup__button {
        @include button("outline");
        min-width: 100px !important;
      }
    }
  }

  &__close-button {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid $color-gray-300;
    border-radius: 50%;
    background: url("../../assets/icons/custom/x_gray.svg") center no-repeat;
    background-size: 14px;
    top: -20px;
    right: -20px;
    cursor: pointer;
  }
  &__title {
    font-size: 24px;
    font-weight: 700;
    color: $color-green-500;
  }
  &__text {
    margin-bottom: 0;
  }
  &__buttons {
    margin-top: 20px;
    display: flex;
    gap: 30px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    &_cancel {
      .popup__button:last-child {
        @include button("button");
      }
      .popup__button:first-child {
        @include button("outline");
      }
    }
  }
  &-question {
    .popup__button {
      @include button("outline");
    }
  }
  &__button {
    &:first-child {
      @include button("button");
    }
  }
}
