.subscribe {
  margin-bottom: 100px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__form {
    @include shadow();
  }
  & &__steps {
    position: relative;
    overflow-x: hidden;
  }
  & &__steps ol {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    counter-reset: steps;
    list-style: none;
    transition: left 0.25s ease-in-out;
  }

  & &__steps ol li {
    padding: 2em 3em;
    list-style: none;
    display: flex;
    justify-content: center;
    font-weight: 700;
    color: $color-gray-400;
    border-bottom: 2px solid $color-gray-200;
    transition: color 0.15s ease-in-out, border-bottom-color 0.15s ease-in-out;

    span {
      display: flex;
      gap: 10px;
      align-items: center;

      &::before {
        counter-increment: steps;
        content: counter(steps);
        width: 60px;
        height: 60px;
        flex: 0 0 60px;
        font-weight: 700;
        font-size: 1.2rem;
        color: $color-gray-400;
        background-color: $color-gray-200;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
      }
    }
    &._active {
      border-bottom: 2px solid $color-green-300;
      color: $color-green-300;
      display: flex;

      & span::before {
        color: $color-white;
        background-color: $color-green-300;
      }
    }
  }

  .form {
    padding: 35px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__input-list {
      display: flex;
      flex-direction: column;
      gap: 20px;
      flex-wrap: wrap;

      @media (min-width: 1200px) {
        max-height: 400px;
      }
    }
  }

  &__radio-list {
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
      flex-direction: row;
      gap: 30px;
    }
  }

  &__buttons {
    margin-top: 40px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);

    & a:last-child {
      grid-column: 2;
    }

    @media (min-width: 768px) {
      display: flex;
      justify-content: flex-end;
    }
  }
}
