.tabs {
    @include shadow();
    &-list {
        background-color: transparent;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;

        &__tab {
            flex: 1 1 50%;
            cursor: pointer;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 60px;
            background-color: $color-gray-200;
            font-weight: bold;
            border: 1px solid $color-gray-300;
            color: unset;
            text-decoration: none;
            &:hover {
              color: unset;
              text-decoration: none;
            }
            &_active {
              border: none;
              border-top: 4px solid $color-green-300;
              background-color: $color-white;
            }
          }
        @media (min-width: 768px) {
            
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
          }
        
    }
    &-content {
        padding: 10px 20px 30px;
        @media (min-width: 400px) {
            padding: 30px;
            padding-top: 10px;
          }
          @media (min-width: 576px) {
            padding: 10px 40px 50px;
          }
          @media (min-width: 768px) {
            padding: 30px 40px 50px;
          }
          @media (min-width: 1440px) {
            padding: 65px;
            padding-top: 30px;
          }
    }
}