.auth-modal {
    &__title {
        margin-bottom: 50px;
    }
    .form-registration {
        &__button {
            width:100%;
            &:nth-child(1) {
                margin-bottom: 20px;
            }
        }
    }

}
