@mixin button-square-form {
  min-width: unset;
  width: 45px;
  height: 45px;
  padding: 0;
  border-radius: 4px;
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin button($button-type: "button") {
  @if ($button-type == "button") {
    display: inline-block;
    min-width: $button-min-width;
    padding: $button-padding-y $button-padding-x;
    font-size: $button-font-size;
    font-weight: $button-font-weight;
    line-height: $button-line-height;
    color: $button-color;
    text-align: center;
    text-decoration: $text-decoration-none;
    vertical-align: middle;
    cursor: $button-cursor;
    background-color: $button-background-color;
    border: $border-width solid $button-border-color;
    border-radius: $button-border-radius;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    user-select: none;

    @media (prefers-reduced-motion: reduce) {
      transition: none;
    }

    &:hover {
      color: $button-hover-color;
      text-decoration: $text-decoration-none;
      background-color: $button-hover-background-color;
      border-color: $button-hover-border-color;
    }

    &:focus {
      outline: 0;
      box-shadow: $button-focus-box-shadow;
    }

    &:active,
    &.active,
    &_active {
      color: $button-active-color;
      background-color: $button-background-color;
      border-color: $button-border-color;

      &:focus {
        box-shadow: $button-focus-box-shadow;
      }
    }

    &:disabled,
    &.disabled,
    fieldset:disabled & {
      // sass-lint:disable-line force-pseudo-nesting
      color: $button-disabled-color;
      pointer-events: none;
      background-color: $button-disabled-background-color;
      border-color: $button-disabled-border-color;
      box-shadow: none;
    }
  }

  @if ($button-type == "red") {
    @include button("button");
    color: $button-red-color;
    background-color: $button-red-background-color;
    border-color: $button-red-color;

    &:hover {
      color: $button-red-hover-color;
      background-color: $button-red-hover-background-color;
      border-color: $button-red-hover-border-color;
    }

    &:focus {
      outline: 0;
      box-shadow: $button-red-focus-box-shadow;
    }

    &:active,
    &.active,
    &_active {
      color: $button-red-active-color;
      background-color: $button-red-active-background-color;
      border-color: $button-red-active-border-color;

      &:focus {
        box-shadow: $button-red-focus-box-shadow;
      }
    }
  }

  @if ($button-type == "outline") {
    @include button("button");

    color: $button-outline-color;
    background-color: $button-outline-background-color;
    border-color: $button-outline-border-color;

    &:hover {
      color: $button-outline-hover-color;
      background-color: $button-outline-hover-background-color;
      border-color: $button-outline-hover-border-color;
    }

    &:active,
    &.active,
    &_active {
      color: $button-outline-active-color;
      background-color: $button-outline-active-background-color;
      border-color: $button-outline-active-border-color;
    }
  }

  @if ($button-type == "square") {
    &_plus {
      @include button("outline");
      @include button-square-form();

      background-image: url("../../assets/icons/custom/plus_green.svg");

      &.active,
      &:active,
      &_active,
      &:hover {
        background-image: url("../../assets/icons/custom/plus_white.svg");
      }

      &.disabled,
      &:disabled {
        background-image: url("../../assets/icons/custom/plus_white.svg");
      }
    }

    &_cancel {
      @include button("red");
      @include button-square-form();
      background-image: url("../../assets/icons/custom/x_red.svg");

      &.active,
      &:active,
      &:hover {
        background-image: url("../../assets/icons/custom/x_white.svg");
      }

      &.disabled,
      &:disabled {
        background-image: url("../../assets/icons/custom/x_white.svg");
      }
    }
  }
}

@mixin form() {
  &-radio {
    margin-bottom: 10px;

    input[type="radio"] {
      display: none;

      &:checked + label::before {
        background: url("../../assets/icons/custom/radio-button_active.svg")
          center no-repeat;
      }

      &:disabled {
        & + label {
          cursor: default;
        }

        & + label::before {
          background: none;
          cursor: default;
          border: 1px solid $color-gray-300;
          border-radius: 50%;
        }
      }
    }

    label {
      position: relative;
      padding-left: 35px;
      margin-right: 0;
      cursor: pointer;

      &:before {
        content: "";
        width: 26px;
        height: 26px;
        position: absolute;
        top: 0;
        left: 0;
        background: url("../../assets/icons/custom/radio-button.svg") center
          no-repeat;
      }
    }
  }

  &-checkbox {
    margin-bottom: 10px;

    input[type="checkbox"] {
      display: none;

      &:checked + label::before {
        background: url("../../assets/icons/custom/checkbox-button_active.svg")
          center no-repeat;
      }

      &:disabled {
        & + label {
          cursor: default;
        }

        & + label::before {
          background: none;
          cursor: default;
          border: 1px solid $color-gray-300;
          border-radius: 5px;
        }
      }
    }

    label {
      position: relative;
      padding-left: 35px;
      margin-right: 0;
      cursor: pointer;

      &:before {
        content: "";
        width: 26px;
        height: 26px;
        position: absolute;
        top: 0;
        left: 0;
        background: url("../../assets/icons/custom/checkbox-button.svg") center
          no-repeat;
      }
    }
  }

  &-text {
    margin-bottom: 20px;

    &__label {
      display: block;
      padding-bottom: 0.3rem;
      color: $color-gray-400;
    }

    &__input {
      display: block;
      border-radius: 5px;
      border: 1px solid $color-gray-300;
      padding: 0.5rem 0.8rem;
      width: 100%;
      outline: 0;
      transition: border-color 0.15s ease-in-out;
      background-color: $color-white;
      & + .form-text__error {
        display: none;
      }

      &::placeholder {
        color: $color-gray-300;
      }

      &:focus {
        outline: 0;
        border-color: $color-black-text;
        box-shadow: 0px 5px 15px rgba(76, 86, 86, 0.2);
      }

      &_valid {
        border-color: $color-gray-400;
      }

      &_invalid {
        border-color: $color-red;
        position: relative;
        z-index: 2;
        & + .form-text__error {
          display: flex;
          padding: 0.5rem 0.8rem;
          align-items: center;
          color: $color-white;

          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          width: 100%;
          height: 40px;
          z-index: -1;
          background-color: $color-red;
          transform: translateY(-4px);
        }
        &:focus {
          box-shadow: none;
          border-color: $color-red;
        }
      }
    }
  }
}
@mixin alert() {
  display: block;
  min-height: 135px;
  padding: 2rem;
  color: $color-black-text;
  & > p {
    line-height: 1.2;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &-heading {
    position: relative;
    padding-left: 40px;
    font-weight: bold;
  }
  &_success {
    background-color: $color-green-100;
    .alert-heading::before {
      content: "";
      display: block;
      position: absolute;
      width: 30px;
      height: 30px;
      background: url("../../assets/icons/feather/alert-octagon.svg") center
        no-repeat;
      background-size: cover;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &_warning {
    background-color: $color-yellow;
    .alert-heading::before {
      content: "";
      display: block;
      position: absolute;
      width: 30px;
      height: 30px;
      background: url("../../assets/icons/feather/alert-octagon.svg") center
        no-repeat;
      background-size: cover;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &_error {
    background-color: $color-red;
    color: $color-white;
    .alert-heading::before {
      content: "";
      display: block;
      position: absolute;
      width: 30px;
      height: 30px;
      background: url("../../assets/icons/custom/alert-octagon_white.svg")
        center no-repeat;
      background-size: cover;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      stroke: white;
    }
  }
}
@mixin shadow() {
  box-shadow: 0px 10px 25px rgba(76, 86, 86, 0.15);
}
