
@mixin button__type1 {
  @include button;
  color: $color-white;
  background-color: $color-green-300;
  border: none;
  &_active {
    color: $color-green-300;
    background-color: $color-white;
    font-weight: 700;
  }
}

@mixin button__type2 {
  @include button;
  color: $color-green-300;
  background-color: $color-white;
  border: none;
  &_active {
    color: $color-white;
    background-color: $color-green-300;
    font-weight: 700;
  }
}
