.popup {
    &-wrapper {
        padding: 65px;
        @include shadow();
      }
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      position: relative;
      &__close-button {

        position: absolute;
        width: 30px;
        height: 30px;
        border: 1px solid $color-gray-300;
        border-radius: 50%;
        background: url("../../assets/icons/custom/x_gray.svg") center no-repeat;
        background-size: 14px;
        top: -30px;
        right: -30px;
        cursor:pointer;

      }
      & > p {
        margin-bottom: 0;
      }
      &__title {
        font-size: 24px;
        font-weight: 700;
        color: $color-green-500;
      }
      &__buttons {
        display: flex;
        gap: 40px;
        align-items: center;
      }
      &-question {
        .popup__button {
            @include button("outline");
            min-width: 100px;
          &:first-child {
            @include button("button");
            min-width: 100px;
          }

        }
      }
      &-ok {
        .popup__button {
          @include button("outline");
        }
      }
}
